{
    "Logging": {
      "LogLevel": {
        "Default": "Information",
        "Microsoft.AspNetCore": "Warning"
      }
    },
    "ConnectionStrings": {
      "pg": "Host=;Port=;Database=;Username=;Password="
    },
    "JWT":{
        "Issuer" : "",
        "Key": ""
    },
    "AllowedHosts": "*"
  }